
<%- include("partials/header"); -%>

    <h1></h1>
<div class="fade-in-image">
  
    <img  class="fade-in-image" src="https://img.freepik.com/free-photo/flowers-notebook-near-laptop_23-2147759307.jpg" height="700" width="1000">  
    <div class="overlay-text">    
    <h2>Welcome to our BetterBuy Blog</h2>
  
    </div></div>



<%- include("partials/footer"); -%>
